input:not([type='submit']), textarea {
	width: 100%;
	height: 34px;
	margin-bottom: 5px;
	line-height: 34px;
	padding: 0 15px;
	color: #ffffff;
	font-weight: $regular;
	font-size: .8125rem;
	display: inline-block;
	background-color: transparent;
	border: 1px solid #ffffff;
	@include animacao;
}

button, input[type='submit'], .button {
	width: auto;
	height: 45px;
	line-height: 45px;
	padding: 0 35px;
	color: #ffffff;
	font-weight: $regular;
	font-size: 1rem;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	background-color: $vermelho;
	border: 1px solid darken($vermelho, 5%);
	cursor: pointer;
	border-radius: 5px;
	@include animacao;

	span {
		display: block;
		color: #ffffff;
		font-style: italic;
	}

	.fa {
		font-size: 1.187rem;
		color: $azul-escuro;
	}	

	&:hover {
		background-color: darken($vermelho, 10%);
	}
}

form {
	margin: 0px auto;
	width: 90%;
	@include clear();

	input, textarea {
		max-width: 100%;
	}

	label {
		font-size: 1rem; 
		color: $cor-txt;
		font-size: .875rem;
		font-weight: $regular;
		line-height: 25px;

		&[for='mensagem'] {
			opacity: 0.6;
		}
	}

	input[type='text'], input[type='email'] {
		background-color: rgba(255, 255, 255, 1);
		border-color: #EBEBEB;
		font-size: .875rem;
		color: $cor-txt;
		font-weight: $regular;
		line-height: 45px;
		box-sizing: border-box;
	}

	textarea {
		background-color: rgba(255, 255, 255, 1);
		border-color: #EBEBEB;
		font-size: .875rem;
		color: $cor-txt;
		font-weight: $regular;
		width: 100%;
		height: 115px;
		padding: 20px;
		resize: vertical;
		@include box-sizing();
	}

	fieldset {
		span {
			border: 2px solid #5a5758;
			border-width: 0 0 2px;
			padding-top: 20px;
			padding-bottom: 20px;
			display: block;
		}
		margin-top: 20px;

		&.center {
			text-align: center;
		}
	}
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

.select {
	overflow: hidden;
	background-color: #e6e7e8;
	line-height: 44px;
	height: 40px;
	padding: 0 0 0 10px;
	margin-bottom: 20px;
	display: block;
	position: relative;
	@include box-sizing();

	select {
		width: 88%;
		padding-right: 135px;
		background-color: transparent;
		font-weight: $regular;
		font-size: 1.125rem;
		color: $roxo;
		box-sizing: content-box;
		position: relative;
		z-index: 99;
		cursor: pointer;
	}

	&:after {
		content: "\f107";
		position: absolute;
		right: 13px;
		top: 12px;
		font: normal normal normal 46px/1 FontAwesome;
		cursor: pointer;
		height: 15px;
		line-height: 15px;
		z-index: 0;
	}
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {  
	opacity: 1;
	color: $verde;
	font-weight: $light;
	line-height: 35px;
	font-size: 1.5rem; 
}

.msg-form {
	text-align: center;
	font-size: 1rem;
}