
img {
    max-width: 100%;
}

#wrapper {
    width: 100%;
    height: 127px;
    background: #262626;
    border-bottom: 5px solid #e48204;

	#header {
	    width: 100%; 
	    max-width: 1024px;
	    height: 121px;
	    margin: 0 auto;

		.logo {
		    width: 183px;
		    height: 95px;
		    top: 10px;
		    float: left;
		    position: absolute;
		    z-index: 10;
		}

		.fone-top {
			float: right;
			margin-top: 25px;
			margin-bottom: 16px;
			padding-right: 30px;

			.redes {
				display: inline-block;

				a {
					background: #e48204;
					border-radius: 50%;
					width: 35px;
					height: 35px;
					display: inline-block;
					text-align: center;
					margin: 0 3px;
					line-height: 37px;
					@include animacao;

					i {
						font-size: 18px;
						color: #ffffff;
						@include animacao;
					}

					&:hover {
						background: #ffffff;

						i {
							color: #e48204;
						}
					}
				}
			}

			.fone-topo {
				display: inline-block;
				font-size: 12px;
				position: relative;
				top: 6px;
				margin-left: 5px;
				color: #fff;
				font-weight: 300;

				strong {
					color: #fff;
					font-size: 14px;
					margin-bottom: -2px;
					display: block;
				}
			}

			@media all and (max-width: 700px) {
				position: fixed;
				z-index: 999;
				margin: 34px 0 0 30px;
			}

			@media all and (max-width: 400px) {
				.redes {
					display: block;
				}
			}
		}
	}
}

#menu {
	width: auto;
	height: 30px;
	position: relative;
	z-index: 20;
	float: right;
	clear: both;
	padding-right: 30px;

    ul {
    	text-align: right;

		li {
		    padding-top: 7px;
		    display: inline-block;

		    a {
				color: #ffffff;
				padding: 0px 0px 0px 16px;
				font-size: 18px;
				text-decoration: none;
				text-transform: uppercase;
				@include animacao;

				&:hover {
					color: #e48204;
				}
		    }
		}
    }

	@media all and (max-width: 700px) {
		background-color: #262626;
		height: 100vh;
		width: 100%;
		position: fixed;

		ul {
			display: table-cell;
			vertical-align: middle;

			li {
				display: block;

				a {
					font-size: 35px;
				}
			}
		}
	}
}

.header-title {
    width: 100%;
    background: #e48204;
    padding: 30px 0 13px;

	h1 {
	    font-size: 30px;
	    text-align: left;
	    color: #ffffff;
	    padding-left: 100px;

	    span {
		    display: block;

		    i {
				color: #fff;
				font-size: 12px;
				display: inline-block;
		    }

		    a {
		    	padding: 4px 15px;
		    	font-size: 14px;
		    	background-color: #ffffff;
		    	color: #e48204;
		    	text-decoration: none;
		    	@include animacao;

		    	&:hover {
		    		opacity: .7;
		    	}
		    }
	    }

	    @media all and (max-width: 700px) {
	    	font-size: 25px;
	    	padding-left: 20px;
	    }
	}
}