$width: 1220px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: .875rem;

$cor-txt: #444444;
$vermelho: #dd051c;
$laranja: #fd970f;


$tit-escuro: #424243;
$tit-claro: #6f6f6f;
$azul-escuro: #428a9c;
$azul: #7cc6f2;
$azul-petroleo: #006166;
$azul-claro: #61b0d8;
$azul-bb: #8fc5ec;

$borda: #d1d1d1;



$dourado: #a4925f;

$bege: #a4925f;
$bordo: #790000;

$marrom: #99552b;
$roxo: #ffffff;

$verde-limao: #b5bd00;
$verde: #b5bd00;
$cinza: #F7F7F7;
$cinza2: #c8c8c8;

$light: 300;
$light-italic: 300i;
$regular: 400;
$regular-italic: 300i;
$bold: 600;

$wLogo: 225px;

$hSlide: 50vh;